<template>
  <div class="about pa-6">
    <h1>About Vuetify Todo</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero
      consequatur deserunt explicabo optio aliquid, magni impedit laborum
      officiis quos nihil facilis eos consectetur tempora dolorum unde.
      Perspiciatis, quia reiciendis!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero
      consequatur deserunt explicabo optio aliquid, magni impedit laborum
      officiis quos nihil facilis eos consectetur tempora dolorum unde.
      Perspiciatis, quia reiciendis!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero
      consequatur deserunt explicabo optio aliquid, magni impedit laborum
      officiis quos nihil facilis eos consectetur tempora dolorum unde.
      Perspiciatis, quia reiciendis!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero
      consequatur deserunt explicabo optio aliquid, magni impedit laborum
      officiis quos nihil facilis eos consectetur tempora dolorum unde.
      Perspiciatis, quia reiciendis!
    </p>
  </div>
</template>
