<template>
  <div class="home">
    <v-text-field
      class="pa-3"
      hide-details="true"
      clearable
      v-model="newTaskTitle"
      @click:append="addTask"
      @keyup.enter="addTask"
      outlined
      label="Append"
      append-icon="mdi-plus"
    ></v-text-field>
    <v-list class="pt-0" flat>
      <div v-for="task in tasks" :key="task.id">
        <v-list-item
          @click="doneTask(task.id)"
          :class="{ 'blue lighten-5': task.done }"
        >
          <template v-slot:default>
            <v-list-item-action>
              <v-checkbox :input-value="task.done" color="primary"></v-checkbox>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title
                :class="{ 'text-decoration-line-through': task.done }"
                >{{ task.title }}</v-list-item-title
              >
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click.stop="deleteTask(task.id)">
                <v-icon color="primary lighten-1">mdi-delete</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-list-item>
        <v-divider></v-divider>
      </div>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "Todo",
  data() {
    return {
      newTaskTitle: "",
      tasks: [
        // {
        //   id: 1,
        //   title: "Wakeup",
        //   done: false,
        // },
        // {
        //   id: 2,
        //   title: "Get Bananas",
        //   done: false,
        // },
        // {
        //   id: 3,
        //   title: "Eat bananas",
        //   done: false,
        // },
      ],
    };
  },
  methods: {
    doneTask(id) {
      const task = this.tasks.filter((task) => id === task.id)[0];
      task.done = !task.done;
    },
    deleteTask(id) {
      this.tasks = this.tasks.filter((task) => id !== task.id);
    },
    addTask() {
      const task = {
        id: Date.now(),
        title: this.newTaskTitle,
        done: false,
      };

      this.tasks.push(task);
      this.newTaskTitle = "";
    },
  },
};
</script>
